/*
 ________  ___  ________  ___  __    ________  ________  ___  ________  ________  ___      ___ 
|\   ____\|\  \|\   __  \|\  \|\  \ |\   __  \|\   ___ \|\  \|\   __  \|\   __  \|\  \    /  /|
\ \  \___|\ \  \ \  \|\  \ \  \/  /|\ \  \|\  \ \  \_|\ \ \  \ \  \|\  \ \  \|\  \ \  \  /  / /
 \ \_____  \ \  \ \   _  _\ \   ___  \ \   __  \ \  \ \\ \ \  \ \   _  _\ \  \\\  \ \  \/  / / 
  \|____|\  \ \  \ \  \\  \\ \  \\ \  \ \  \ \  \ \  \_\\ \ \  \ \  \\  \\ \  \\\  \ \    / /  
    ____\_\  \ \__\ \__\\ _\\ \__\\ \__\ \__\ \__\ \_______\ \__\ \__\\ _\\ \_______\ \__/ /   
   |\_________\|__|\|__|\|__|\|__| \|__|\|__|\|__|\|_______|\|__|\|__|\|__|\|_______|\|__|/    
   \|_________|
*/

* {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,
body {
    min-height: 100%;
    background-color: #efefef;
}

.unisched-logo img {
    height: 35px !important;
}

h2.title.is-2 {
    padding: 0 !important;
    margin-top: -25px !important;
}

.unisched-download-buttons .box {
    min-width: 170px;
    border-radius: 15px;
}

.unisched-download-buttons .box p {
    line-height: 1.1;
}

.unisched-download-buttons .box img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    h2.is-2 {
        font-size: 2.3rem !important;
    }

    .unisched-download-buttons .box {
        min-width: 150px;
    }

    .unisched-download-buttons .box img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 545px) {
    .hide-on-mobile {
        display: none !important;
    }

    .unisched-download-buttons {
        flex-wrap: wrap;
    }

    .unisched-download-buttons a {
        margin: 5px !important;
    }
}

.unisched-screenshot {
    max-width: 350px;
}
.unisched-screenshot img {
    display: inline;
}

.unisched-screenshot .updates-widget {
    position: absolute;
    top: 14px;
    left: 60px;
}

@media (max-width: 399px) {
    .unisched-screenshot .updates-widget {
        top: 11px;
        left: 55px;
    }
}

.button {
    border-radius: 15px !important;
}